page-hotel {
    .photo {
        display: flex;
        background-image: url('../../assets/imgs/UploadLimit-Header.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30vh;
        position: relative;
       .img-upload {
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    } 
    .btn-upload {
       position: absolute;
       z-index: 1;
       bottom: 1rem;
       left: 1rem;
    }
}
.error {
    color: rgba(247, 1, 1, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
}

}
